@*Filename: Index.cshtml
    Author: William Faglie
    Description: This is my Index file*@

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h2>Welcome to MovieLib Web</h2>
</div>

<div>William Faglie</div>
<div>ITSE 1430</div>